


<!-- IMPLEMENTAR!!! LES CAIXETES A LA NAVBAR -->

<div class="breadcrumbs">         
    <% if @current_folder #checking if we are under any folder %> 

        <!-- El camí en el que estem-->
        <!-- TODO -->
        <!-- El path hauria de tenir ja les carpetes preparades -->

        
        <% if @path %>  <!-- Pel cas de creació de carpeta -->
            <% @path.each_with_index do |folder, i| %> 
                <% if i != @path.length-1 %>
                    <a href="<%= browse_path(folder, :path => @path) %>">
                        <ul id="breadcrumbs_block" href="<%= browse_path(folder, :path => @path) %>">
                         <li class="breadcrumbs_title"> <%= current_user.folders.find(folder).name %> </li>    <!-- link_to current_user.folders.find(folder).name, browse_path(folder, :path => @path), id: "breadcrumbs_block" -->
                         <li class="breadcrumbs_subtitle"> <%= current_user.folders.find(folder).root.name %></li>
                        </ul>
                        <div id="breadcrumbs_block" class="breadcrumbs_arrow"> » </div> 

                     </a>
                <% end %>
            <% end %> 
        <% end %>
        <a>

        <!-- La carpeta en la que estem -->
        
            <ul id="breadcrumbs_block">
             <% if @current_folder.parent == nil %>
                 <li class="breadcrumbs_title">&nbsp;</li>
             <% else %>
                 <li class="breadcrumbs_title"> <%= @current_folder.name %> </li>
             <% end %>
             <li class="breadcrumbs_subtitle"> <%= @current_folder.root.name %></li>
            </ul>
        </a>
    <% else #if we are not under any folder%> 
    <%= link_to "Inicio", root_url, id: "breadcrumbs_block", :class => "breadcrumbs_inicio"%> 
    <% end %> 
</div>