


<!-- IMPLEMENTAR!!! LES CAIXETES A LA NAVBAR -->

<div class="breadcrumbs">         
    <% if @current_folder #checking if we are under any folder %> 
        <%= link_to "Inicio", root_url, id: "breadcrumbs_block", :class => "breadcrumbs_inicio"%> 
        <% if @f %>  <!-- Pel cas de creació de carpeta -->
            <% @f.each_with_index do |folder, i| %> 
                <% if i != @f.length-1 %>
                    <a href="<%= browse_path(folder, :f => @f) %>">
                        <div id="breadcrumbs_block" class="breadcrumbs_arrow"> » </div> 
                        <ul id="breadcrumbs_block" href="<%= browse_path(folder, :f => @f) %>">
                         <li class="breadcrumbs_title"> <%= current_user.folders.find(folder).name %> </li>    <!-- link_to current_user.folders.find(folder).name, browse_path(folder, :f => @f), id: "breadcrumbs_block" -->
                         <li class="breadcrumbs_subtitle"> <%= current_user.folders.find(folder).root.name %></li>
                        </ul>
                     </a>
                <% end %>
            <% end %> 
        <% end %>
        <a>
            <div id="breadcrumbs_block"  class="breadcrumbs_arrow"> » </div> 
            <ul id="breadcrumbs_block">
             <% if @current_folder.parent == nil %>
                 <li class="breadcrumbs_title">&nbsp;</li>
             <% else %>
                 <li class="breadcrumbs_title"> <%= @current_folder.name %> </li>
             <% end %>
             <li class="breadcrumbs_subtitle"> <%= @current_folder.root.name %></li>
            </ul>
        </a>
    <% else #if we are not under any folder%> 
    <%= link_to "Inicio", root_url, id: "breadcrumbs_block", :class => "breadcrumbs_inicio"%> 
    <% end %> 
</div>