<% unless user_signed_in? %> 
<h1>Welcome to GreenBox</h1> 
<p>File sharing web application you can't ignore.</p> 

<% else %> 

<!-- render :partial => 'breadcrumbs'
 -->

<div id="menu"> 
	<ul id= "top_menu_clasificacions">    
		<% @clasificacions.each do |clasificacio| %>

			<% if @roots.include?(clasificacio) %>
				<li>
				
				<% case clasificacio.name %>
				<% when "Proyectos" %>
					<span class="glyphicon glyphicon-folder-open"></span>
				<% when "Departamentos" %>
					<span class="glyphicon glyphicon-tent"></span>
				<% when "Departamento" %>
					<span class="glyphicon glyphicon-tent"></span>
				<% when "Equipo" %>
					<span class="glyphicon glyphicon-user"></span>
				<% when "Personas" %>
					<span class="glyphicon glyphicon-user"></span>
				<% when "Procesos" %>
					<span class="glyphicon glyphicon-cog"></span>
				<% when "Espacio" %>
					<span class="glyphicon glyphicon-map-marker"></span>
				<% when "Tipo de Documento" %>
					<span class="glyphicon glyphicon-file"></span>
				<% when "Fecha" %>
					<span class="glyphicon glyphicon-calendar"></span>
				<%end%>


				<a class="hidden_clasification"><%= clasificacio.name %></a></li> 
			<% else %>
				
				<li href=>

				<% case clasificacio.name %>
				<% when "Proyectos" %>
					<span class="glyphicon glyphicon-folder-open"></span>
				<% when "Departamentos" %>
					<span class="glyphicon glyphicon-tent"></span>
				<% when "Departamento" %>
					<span class="glyphicon glyphicon-tent"></span>
				<% when "Equipo" %>
					<span class="glyphicon glyphicon-user"></span>
				<% when "Personas" %>
					<span class="glyphicon glyphicon-user"></span>
				<% when "Procesos" %>
					<span class="glyphicon glyphicon-cog"></span>
				<% when "Espacio" %>
					<span class="glyphicon glyphicon-map-marker"></span>
				<% when "Tipo de Documento" %>
					<span class="glyphicon glyphicon-file"></span>
				<% when "Fecha" %>
					<span class="glyphicon glyphicon-calendar"></span>
				<%end%>

				<%= link_to clasificacio.name, browse_path(clasificacio, :path => @path) %></li> 
			<% end %>
		<% end %>
	</ul> 

</div> 


<div id= "left-menu">     
	<% if @current_folder %> 
		<div><p id="fab_button"><%= link_to "Subir", new_sub_file_path(@current_folder) %></p></div> 
		<div><p id="fab_button"><%= link_to "Nueva Carpeta", new_sub_folder_path(@current_folder) %></p></div> 
	<% else %> 
		<div><p id="fab_button"><%= link_to "Subir", new_document_path %></p></div> 
		<div><p id="fab_button"><%= link_to "Nuevo Árbol", new_folder_path %></p></div> 
	<% end %> 
</div> 

<div class="document_list_header"> 
	<div class="file_name_header" id="file_header">Nombre</div> 
	<div class="file_size_header"  id="file_header">Tamaño</div> 
	<div class="file_last_updated_header"  id="file_header">Modificación</div> 
</div> 
<div class="document_list"> 

	<!-- Folders -->
	
	<% @folders.each do |folder| %> 
	<div class="document_details folder"> 
		<div class="file_name"><%= link_to folder.name, browse_path(folder, :path => @path) %></div> 
		<div class="file_size">-</div> 
		<div class="file_last_updated">-</div> 
		<div class="actions"> 
		<!-- Pondremos el botón share cuando lo necesitemos -->
		<!--<div class="share"> 
				<%= link_to "Share" %> 
			</div>  -->
			<div class="rename"> 
        <%= link_to "Rename", rename_folder_path(folder) %>			
      </div> 
			<div class="delete"> 
       <%= link_to "Delete", folder, :method => :delete %>
      </div> 
		</div> 
	</div> 
	<% end %>


	<!-- documents -->
	<% @documents.each do |document| %> 
	       <div class="document_details file"> 
	       <div class="file_name"><%= link_to document.file_name, download_url(document) %></div> 
	       <div class="file_size"><%= number_to_human_size(document.file_size, :precision => 2) %></div> 
	       <div class="file_last_updated"><%= document.uploaded_file_updated_at %></div> 
	       <div class="actions"> 
	           <div class="download"> 
	               <%= link_to "Download", download_url(document) %> 
	           </div> 
	           <div class="delete"> 
                  <%= link_to "Delete", document,  :method => :delete %>
	           </div> 
	       </div> 
	   </div> 
	<% end %>


	<%= render :partial => 'browse_errors' %>

</div> 
<% end %>