<% unless user_signed_in? %> 
<h1>Welcome to GreenBox</h1> 
<div style="text-align:center; margin-top: 60px;">
	<h1>Éste es el prototipo de Forest </h1>
	<p><i> Al entrar ...</i><br/>
	Te encontraras una página principal provisional. <br/> 
	Simplemente se pueden ver todos los documentos que hay.<br/>
	<br/>
	<br/>
	<i>Para navegar..</i><br/>
	<ins>Pulsa qualquier clasificación (botones de colores): </ins><br/>
	Pulsa el botón “<b>Proyectos</b>” para ver los proyectos de tu empresa/equipo<br/>
	Pulsa el botón “<b>Departamentos</b>” para ver los departamentos de tu empresa/equipo<br/>
	…<br/>
	<br/>
	Lo mejor de todo, es que puedes <b>cruzar clasificaciones</b>. Por ejemplo: entra en el proyecto “Web Sapiens”, <br/>
	y luego pulsa Personas. Verás todas las personas que participan en el proyecto. Si pulsas una<br/>
	de las personas, veras sus documentos en éste proyecto.
	<br/>
	<br/>

	<i>Otras funciones ya implementadas</i><br/>
	<b>Subir archivos:</b> uno de los 2 botones de “nuevo archivo” <br/>
	<b>Crea una clasificación: </b> Pulsando el botón de “nueva carpeta” en la página principal<br/>
	<b>Crea un Proyecto/Departamento..: </b> Pulsando el botón “nueva carpeta” dentro de Proyectos/Departamentos<br/>
	<br/> 


	<i>Para empezar… </i><br/>
	Para empezar pulsa en “Sign in” y entra con el usuario “talentum@gmail.com” y pass “talentum”




	</p>


</div> 





<% else %> 

<!-- render :partial => 'breadcrumbs'
 -->

<div id="menu"> 
	<ul id= "top_menu_clasificacions">    
		<% @clasificacions.each do |clasificacio| %>

			<% if @roots.include?(clasificacio) %>				
			
			<% case clasificacio.name %>
			<% when "Proyectos" %>
				<li style="background-color: #84D400;   border-color: #73B000;">
				<span class="glyphicon glyphicon-folder-open"></span>
			<% when "Departamentos" %>
				<li style="background-color: #F9AE5B;   border-color: #D4953D;">
				<span class="glyphicon glyphicon-tent"></span>
			<% when "Departamento" %>
				<li style="background-color: #F9AE5B;   border-color: #D4953D;">	
				<span class="glyphicon glyphicon-tent"></span>
			<% when "Equipo" %>
				<li style="background-color: #EFE100;   border-color: #E0D500;">
				<span class="glyphicon glyphicon-user"></span>
			<% when "Personas" %>
				<li style="background-color: #EFE100;   border-color: #E0D500;">
				<span class="glyphicon glyphicon-user"></span>
			<% when "Procesos" %>
				<li style="background-color: #4E8EE9;   border-color: #4C82E0;">
				<span class="glyphicon glyphicon-cog"></span>
			<% when "Espacio" %>
				<li style="background-color: #A4CDE6;   border-color: #97BAD4;">
				<span class="glyphicon glyphicon-map-marker"></span>
			<% when "Tipo de Documento" %>
				<li style="background-color: #F77F77;   border-color: #E2776C;">
				<span class="glyphicon glyphicon-file"></span>
			<% when "Fecha" %>
				<li style="background-color: #E5A0A1;   border-color: #D79797;">
				<span class="glyphicon glyphicon-calendar"></span>
			<%end%>


				<a class="hidden_clasification"><%= clasificacio.name %></a></li> 
			<% else %>
				
			<% case clasificacio.name %>
			<% when "Proyectos" %>
				<li style="background-color: #84D400;   border-color: #73B000;">
				<span class="glyphicon glyphicon-folder-open"></span>
			<% when "Departamentos" %>
				<li style="background-color: #F9AE5B;   border-color: #D4953D;">
				<span class="glyphicon glyphicon-tent"></span>
			<% when "Departamento" %>
				<li style="background-color: #F9AE5B;   border-color: #D4953D;">	
				<span class="glyphicon glyphicon-tent"></span>
			<% when "Equipo" %>
				<li style="background-color: #EFE100;   border-color: #E0D500;">
				<span class="glyphicon glyphicon-user"></span>
			<% when "Personas" %>
				<li style="background-color: #EFE100;   border-color: #E0D500;">
				<span class="glyphicon glyphicon-user"></span>
			<% when "Procesos" %>
				<li style="background-color: #4E8EE9;   border-color: #4C82E0;">
				<span class="glyphicon glyphicon-cog"></span>
			<% when "Espacio" %>
				<li style="background-color: #A4CDE6;   border-color: #97BAD4;">
				<span class="glyphicon glyphicon-map-marker"></span>
			<% when "Tipo de Documento" %>
				<li style="background-color: #F77F77;   border-color: #E2776C;">
				<span class="glyphicon glyphicon-file"></span>
			<% when "Fecha" %>
				<li style="background-color: #E5A0A1;   border-color: #D79797;">
				<span class="glyphicon glyphicon-calendar"></span>
			<%end%>

				<%= link_to clasificacio.name, browse_path(clasificacio, :path => @path) %></li> 
			<% end %>
		<% end %>
	</ul> 

</div> 


<div id= "left-menu">     
	<% if @current_folder %> 
		<div><p id="fab_button"><a class="new_file" style="margin-right: 11px;" href="<%= new_sub_file_path(@current_folder) %>"></a></p></div> 
		<div><p id="fab_button"><a class="new_folder_icon" style="margin-right: 13px;" href="<%= new_sub_folder_path(@current_folder) %>"></a></p></div> 
	<% else %> 
		<div><p id="fab_button"><a class="new_file" style="margin-right: 11px;" href="<%= new_document_path %>"></a></p></div> 
		<div><p id="fab_button"><a class="new_folder_icon" style="margin-right: 13px;" href="<%= new_folder_path %>"></a></p></div> 

	<% end %> 
</div> 

<div class="document_list_header"> 
	<div class="file_name_header" id="file_header">Nombre</div> 
	<div class="file_size_header"  id="file_header">Tamaño</div> 
	<div class="file_last_updated_header"  id="file_header">Modificación</div> 
</div> 
<div class="document_list"> 

	<!-- Folders -->
	
	<% @folders.each do |folder| %> 
	<div class="document_details folder"> 
		<div class="file_name"><%= link_to folder.name, browse_path(folder, :path => @path) %></div> 
		<div class="file_size">-</div> 
		<div class="file_last_updated">-</div> 
		<div class="actions"> 
		<!-- Pondremos el botón share cuando lo necesitemos -->
		<!--<div class="share"> 
				<%= link_to "Share" %> 
			</div>  -->
			<div class="rename"> 
        <%= link_to "Rename", rename_folder_path(folder) %>			
      </div> 
			<div class="delete"> 
       <%= link_to "Delete", folder, :method => :delete %>
      </div> 
		</div> 
	</div> 
	<% end %>


	<!-- documents -->
	<% @documents.each do |document| %> 
	       <div class="document_details file"> 
	       <div class="file_name"><%= link_to document.file_name, download_url(document) %></div> 
	       <div class="file_size"><%= number_to_human_size(document.file_size, :precision => 2) %></div> 
	       <div class="file_last_updated"><%= document.uploaded_file_updated_at %></div> 
	       <div class="actions"> 
	           <div class="download"> 
	               <%= link_to "Download", download_url(document) %> 
	           </div> 
	           <div class="delete"> 
                  <%= link_to "Delete", document,  :method => :delete %>
	           </div> 
	       </div> 
	   </div> 
	<% end %>


	<%= render :partial => 'browse_errors' %>

</div> 
<% end %>