<%= form_for @document, html: {multipart: true} do |f| %> 

	<%= f.error_messages %> 
	<p class="full_width"> 
		<%= f.file_field :uploaded_file, :multiple => :true%> 
	</p> 

	<div class = "selectors">
	<% current_user.folders.roots.each do |folder| %>

		<div class="tree_selector">
			<div>
			<h4><%= folder.name %></h4>

			</div>
			
			<!-- Fer un array personalitzat -->
			<%
				folders_on_tree = []


				folder.traverse { |child| 

					name = ""

					child.ancestors.each do |ancestor|
						name += "--"
					end
					name += child.name

					folders_on_tree.push([name, child.id])


				}




			%>

			<%= f.select :folder_ids, folders_on_tree, {}, {:multiple => true, class: 'select2'} %>

	</div>

	<% end %>
	</div>

	<p class="full_width"><%= f.submit "Subir" %></p> 

<% end %>
