<!DOCTYPE html>
<html>
<head>
	<title>GreenBox | <%= content_for?(:title) ? yield(:title) : "Organize everything" %></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tag %>
	<%= yield(:head) %>
</head>
<body>

		<!-- Grid per fer Probes -->
		<img class="grid" align="middle" src="<%= asset_path('960_grid_12_col.png') %>">
	<div class="header_wrapper"> 
		<div class="logo"> 
			<%= link_to "forest", root_url %> 
		</div> 
		<div class="searchbox"> 
			<div class="divider">
			</div>
			<% if @path %> 
			<%= render :partial => 'breadcrumbs' %>
			<% else %>				
			<input type="text" name="fname" placeholder="Search...">
			<% end %>
		</div> 


		<div id="login_user_status"> 
			<% if user_signed_in? %> 
			<%= current_user.email  %>  
			| 
			<%= link_to "Sign out", destroy_user_session_path, method: :delete %> 
			<% else %> 
			<em>Not Signed in.</em> 
			<%= link_to 'Sign in', new_user_session_path%> 
			or 
			<%= link_to 'Sign up', new_user_registration_path%> 
			<% end %> 
		</div>
 		<a class="new_file" href="<%= new_document_path %>"></a> 

		<div class="lupa"> </div>


	</div>
	<div id="container">

<!-- 		<p class="notice"><%= notice %></p>  
-->		<p class="alert"><%= alert %></p>  
<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<%= content_tag :h1, yield(:title) if show_title? %>
<%= yield %>
</div>
</body>
</html>
